.popover {
  opacity: 0;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 1))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 1));
}
