::ng-deep {
  ul.cloud app-pill[data-weight='1']a {
    --size: 1;
  }
  ul.cloud app-pill[data-weight='2']a {
    --size: 2;
  }
  ul.cloud app-pill[data-weight='3']a {
    --size: 3;
  }
  ul.cloud app-pill[data-weight='4']a {
    --size: 4;
  }
  ul.cloud app-pill[data-weight='5']a {
    --size: 5;
  }
  ul.cloud app-pill[data-weight='6']a {
    --size: 6;
  }
  ul.cloud app-pill[data-weight='7']a {
    --size: 7;
  }
  ul.cloud app-pill[data-weight='8']a {
    --size: 8;
  }
  ul.cloud app-pill[data-weight='9']a {
    --size: 9;
  }
  ul.cloud app-pill[data-weight='10']a {
    --size: 10;
  }
  // TODO: Handle higher numbers better

  ul.cloud a {
    --size: 4;
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    padding-top: calc(var(--size) * 0.15rem);
    padding-bottom: calc(var(--size) * 0.15rem);
  }
}
